<nav class="breadcrumbs p-d-flex p-ai-center">
  <a routerLink="/" class="breadcrumb-item">
    <i class="pi pi-home home-icon"></i>
  </a>
  <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
    <span class="breadcrumb-divider">
      <i class="pi pi-angle-right"></i>
    </span>
    <span *ngIf="!last" class="breadcrumb-item">
      <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
    </span>
    <span *ngIf="last" class="breadcrumb-item">{{ breadcrumb.label }}</span>
  </ng-container>
</nav>
