.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 15px 20px;
  border-radius: 20px;
}

.breadcrumb-divider {
  margin: 0 10px;
}

.breadcrumb-item {
  display: inline;
}

.home-icon {
  color: #9900ff;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}
