<div class="container">
  <div *ngIf="libro" class="card bg-light mb-3 mt-3 mx-auto" style="max-width: 25rem;">
    <h2 class="card-header">Editar Libro</h2>
    <div class="card-body">
      <form (ngSubmit)="guardarEdicion()">
        <div class="form-group">
          <label for="ISBN">ISBN:</label>
          <input type="text" id="ISBN" [(ngModel)]="libro.ISBN" name="ISBN" class="form-control">
        </div>
        <div class="form-group">
          <label for="titulo">Título:</label>
          <input type="text" id="titulo" [(ngModel)]="libro.titulo" name="titulo" class="form-control">
        </div>
        <div class="form-group">
          <label for="autor">Autor:</label>
          <input type="text" id="autor" [(ngModel)]="libro.autor" name="autor" class="form-control">
        </div>
        <div class="form-group">
          <label for="editorial">Editorial:</label>
          <input type="text" id="editorial" [(ngModel)]="libro.editorial" name="editorial" class="form-control">
        </div>
        <div class="form-group">
          <label for="fechaPublicacion">Fecha de publicación:</label>
          <input type="text" id="fechaPublicacion" [(ngModel)]="libro.fechaPublicacion" name="fechaPublicacion" class="form-control">
        </div>
        <div class="form-group">
          <label for="numeroEjemplares">Número de ejemplares:</label>
          <input type="text" id="numeroEjemplares" [(ngModel)]="libro.numeroEjemplares" name="numeroEjemplares" class="form-control">
        </div>
        <div class="form-group">
          <label for="disponibles">Tomos disponibles:</label>
          <input type="text" id="disponibles" [(ngModel)]="libro.disponibles" name="disponibles" class="form-control">
        </div>
        <button type="submit" class="btn btn-warning mt-3">Guardar Cambios</button>
      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" routerLink="/libros/consultar">Consultar</button>
    </div>
  </div>
</div>
