<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Street</th>
      <th>Suite</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Company Name</th>
      <th>Catch Phrase</th>
      <th>Company BS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
      <td>{{ user.address.street }}</td>
      <td>{{ user.address.suite }}</td>
      <td>{{ user.address.city }}</td>
      <td>{{ user.address.zipcode }}</td>
      <td>{{ user.address.geo.lat }}</td>
      <td>{{ user.address.geo.lng }}</td>
      <td>{{ user.company.name }}</td>
      <td>{{ user.company.catchPhrase }}</td>
      <td>{{ user.company.bs }}</td>
    </tr>
  </tbody>
</table>
