<div class="container">
  <h2>Libros</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ISBN</th>
        <th scope="col">Título</th>
        <th scope="col">Autor</th>
        <th scope="col">Editorial</th>
        <th scope="col">Fecha de Publicación</th>
        <th scope="col">Número de Ejemplares</th>
        <th scope="col">Disponibles</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros">
        <td>{{ libro.id }}</td>
        <td>{{ libro.ISBN }}</td>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor }}</td>
        <td>{{ libro.editorial }}</td>
        <td>{{ libro.fechaPublicacion }}</td>
        <td>{{ libro.numeroEjemplares }}</td>
        <td>{{ libro.disponibles }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="editarLibro(libro.id)">
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
