<p>consultar works!</p>

<h2>Componente 2</h2>
<h3>Mostrar libro</h3>

<button (click)="mostrarInformacion = !mostrarInformacion">
  Mostrar/Ocultar título
</button>

<div [ngClass]="{ 'hidden': !mostrarInformacion }">
  <h2>Libro</h2>
  <p><strong>ISBN:</strong> {{ libro.ISBN }}</p>
  <p><strong>Titulo:</strong> {{ libro.titulo }}</p>
  <p><strong>Autor:</strong> {{ libro.autor }}</p>
  <p><strong>Editorial:</strong> {{ libro.editorial }}</p>
  <p><strong>Fecha de publicación:</strong> {{ libro.fechaPublicacion }}</p>
  <p><strong>Numero de ejemplares:</strong> {{ libro.numeroEjemplares }}</p>
  <p><strong>Tomos disponibles:</strong> {{ libro.disponibles }}</p>
</div>
